﻿<!-- Footer section -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="footer-copyright" id="Name" name="Name"></div>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                    <li><a href="https://twitter.com/?lang=fr" class="fa fa-twitter"></a></li>
                    <li><a href="https://fr.linkedin.com/" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    
    var db = openDatabase('test', '1.0', 'Test DB', 2 * 1024 * 1024);
    var msg;

    db.transaction(function (tx) {
        tx.executeSql('SELECT * FROM profil', [], function (tx, results){
            msg = "<p>@ 2019 ";
            document.querySelector("#Name").innerHTML = msg;

            document.querySelector("#Name").innerHTML += results.rows.item(0).Name;
            document.querySelector("#Name").innerHTML += " | All Rights Reserved.";
        })
    })
</script>>