{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Station</h1>
    <p class="lead">Welcome to our gas station</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Checking values. 
        </p>
        <input type="button" onclick="window.location.href = '/reponse'" class="form-control" value="Check station">
    </div>
    <div class="col-md-4">
        <h2>Start Station</h2>
        <p>
            Start Station
        </p>
	{% if ON %}
       	<input type="button" onclick="window.location.href = '/start'" class="form-control" value="Start station" >
	{% else %}
       	<input type="button" onclick="window.location.href = '/start'" class="form-control" value="Start station" disabled>
	{% endif %}
    </div>
    <div class="col-md-4">
        <h2>Stop Station</h2>
        <p>
           Stop Station 
        </p>
	{% if ON %}
	<input type="button" onclick="window.location.href = '/stop'" class="form-control" value="Check station" disabled='disabled'>
    	{% else %}
	<input type="button" onclick="window.location.href = '/stop'" class="form-control" value="Check station"> 
	{% endif %}
    </div>
</div>


{% endblock %}
