﻿<!-- Footer section -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="footer-copyright">
                    <p>© 2019 Water Station | All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>