{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Station</h1>
    <p class="lead">Welcome to our water station</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Access to the station monitor</p>
        <p class="text-center"><a class="btn btn-default" href="plan">Station &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p class="text-center"><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>

    </div>
</div>

{% endblock %}
